<p>Dear <%= name %>,</p>

<p>Congratulations! We are pleased to inform you that your application for the internship position related to
    " <%= internship_name %>".
        inter %>" has been accepted.</p>

<p>Your skills, experiences, and enthusiasm truly stood out during the selection process, and we believe you will make a
    valuable contribution to our team. We are excited to welcome you aboard and look forward to working together to
    achieve great things.</p>

<p>Once again, congratulations on this achievement, and we can't wait to have you as part of our team!</p>

<p>Best regards,</p>

<p>
    <a href="<%= link %>">Login to your account</a>
</p>