<p>Hey <%= name %>,</p>
<p>
    You told us you’d forgotten your password.
    If you really have, click here to choose a new one:</p>

<p>
    <a href="<%= link %>">Reset Password</a>
</p>

<p>
    If you're having trouble clicking the reset password button, copy and paste
    the below URL into your web browser.
</p>

<a href="<%= link %>">
    <%= link %>
</a>