<p>Dear <%= name %>,</p>

<p>
    A new application has been submitted for the internship position related to
    "<%= internship_name %>".
        Please review the application and take appropriate action.

</p>



<p>
    <a href="<%= link %>">Login to your account</a>
</p>