<p>Hey <%= name %>!</p>
<p>
Welcome to the Internship Offer Management System—a place where internships
are born and job offers learn to dance!
</p>

<p>Your password is: <%= password %>
</p>
<p>To kick off the party, we need you to confirm your account below:</p>

<p>
<a href="<%= confirmation_url %>">Unleash the Internship Awesomeness!</a>
</p>

<p>
If you're struggling to coax your mouse into clicking the confirm account
button, just pretend it's a tiny dance move. If all else fails, copy and paste
the below URL into your web browser—it's the secret handshake to our digital
dance floor.
</p>
