<p>Dear <%= name %>,</p>

<p>We appreciate the effort and enthusiasm you put into applying for the internship position related to
    " <%= internship_name %>".
        After careful consideration, we regret to inform you that your application has not been
        selected at this time.
</p>

<p>While we won't be moving forward with your application for this particular opportunity, we want to emphasize that
    your skills and experiences stood out. We encourage you to apply for future opportunities with us and explore other
    avenues to grow professionally.</p>

<p>Thank you for your interest in joining our team. We value your time and effort throughout the application process. If
    you have any questions or would like feedback on your application, please feel free to reach out.</p>

<p>Best regards,</p>

<p>
    <a href="<%= link %>">Login to your account</a>
</p>